[data-icon]:before {
	float:left;
	font-family				:	'icomoon';
	content					:	attr(data-icon);
	speak					:	none;
	font-weight				:	normal;
	-webkit-font-smoothing	:	antialiased;
	text-align				:	center;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before {
	float:left;
	font-family				:	'icomoon';
	font-style				:	normal;
	speak					:	none;
	font-weight				:	normal;
	-webkit-font-smoothing	:	antialiased;
}

.github .i {
	content: "\21";
}
.facebook .i {
	content: "\23";
}
.twitter .i{
	content: "\24";
}
.feed .i {
	content: "\25";
}
.googleplus .i{
	content: "\26";
}
.email .i{
	content: "\27";
}
.html5 .i {
	content: "\28";
}
.css3 .i{
	content: "\29";
}
.chrome .i {
	content: "\2a";
}
.firefox .i {
	content: "\2b";
}
.ie .i{
	content: "\2c";
}
.opera .i{
	content: "\2d";
}
.safari .i{
	content: "\2e";
}
.pdf .i{
	content: "\30";
}
.word .i{
	content: "\31";
}
.skype .i{
	content: "\32";
}
.android .i{
	content: "\33";
}
.apple .i {
	content: "\34";
}
.phone .i{
	content: "\35";
}
.location .i {
	content: "\22";
}
.linkedin .i {
	content: "\2f";
}