@media screen and (max-width: 650px) and (orientation:portrait){

	body{
		font-size:1.4em;
	}

	.cont{
		width:12%;

		font-size:1.2em;

		a{
			z-index:5;
			height:1.2em;
			line-height:1.2em;

			&.hover,
			&:hover{
				.d{
					left: 40px;
				}
			}

			.d{
				left:120%;
				z-index:10;
			}

		}

		.i{
			z-index:999;
			height:100%;
			line-height:135%;
		}
	}

	.logos{
		top:30%;
		left:35%;
		height:100px;

		div{
			float:none;
		}

		.html5{
			width:100%;
			margin-bottom:5%;
		}

		.css3{
			width:100%;
		}
	}

}

@media screen and (max-width: 650px) and (orientation:landscape){

	body{
		font-size:1.4em;
	}

	.logos{
		top:50%;
		left:30%;
		height:150px;
	}

	.cont{
		position:absolute;
		top:10%;
		width:8%;

		font-size:1.2em;

		a{
			z-index:5;
			height:1.2em;
			line-height:1.2em;

			&.hover,
			&:hover{
				.d{
					left: 40px;
				}
			}

			.d{
				left:120%;
				z-index:10;
			}

		}

		.i{
			z-index:999;
			height:100%;
			line-height:135%;
		}
	}

}
