@import "compass";
@import "compass/css3/user-interface";
@import "variables.scss";

header.start{
	margin-top:-10%;
	opacity:0;
}

.cont{
	width: 4.3%;
}

nav{
	ul,li{
		width:100%;
	}
	
	li{
		margin-bottom:10%;
	}

	a{
		position: relative;
		overflow:hidden;
		display:block;
		width:99%;
		background-color:$textColor;
		border-bottom-right-radius: 26px;
		border-top-right-radius: 26px;
		text-decoration:none;
		line-height:48px;

		&.hide{
			width:0;
		}
		
		&.facebook:hover{
			width: 325%;

			.i{
				color:$facebookColor
			}

		}
		
		&.twitter:hover{
			width: 330%;
			
			.i{
				color:$twitterColor
			}
		}

		&.github:hover{
			width: 300%;
			
			.i{
				color:$githubColor
			}

		}
		
		&.linkedin:hover{
			width: 500%;

			.i{
				color:$linkedinColor
			}

		}

		&.email:hover{
			width: 550%;

			.i{
				color: $emailColor
			}

		}

		div{
			float:left;
		}

		.i, .d{
			width:100%;
		}

		.i{
			height:48px;
			line-height:48px;
			padding-left:5px;
			font-size:90%;
			color:$textColor3;
		}

		.d{
			position: absolute;
			top: 0px;
			left: 54px;
			font-size: 40%;
			color: $textColor2;
			font-style:italic;
			@include user-select(none);
		}

	}
}

.logos{
	position:absolute;
	width:40%;
	height:200px;
	top:40%;
	left:33%;
	opacity: 1;

	&.hide{
		opacity:0;
	}

	div{
		background-repeat:no-repeat;
		background-size:contain;
		font-size:0em;
	}
	.html5{
		float:left;
		width:45%;
		height:100%;
	}
	.css3{
		float:right;
		width:45%;
		height:100%;
	}
}
