//$textColor	:	#ABD3E8;
$textColor		:	#444;
$textColor2		:	#FFF;

$fontH1			:	"Megalopolis";
$fontH2			:	"Coda Caption";

//$html5Color1	:	#ED4732;
$html5Color1	:	#EC6828;
$html5Color2	:	#DE5126;
$css3Color1		:	#29A9DF;
$css3Color2		:	#0170BA;
$jsColor1		:	#F0DB4F;

/*
 *	Links colors
*/

$facebookColor		:	#3B5998;
$twitterColor		:	#019AD2;
$linkedinColor		:	#71C5EF;
$githubColor		:	#000000;
$googleplusColor	:	#D14836;
$emailColor			:	$textColor;